 *{
    box-sizing:border-box;
    margin:10px;
    padding :15px;
    background-color:#F9E4D4; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font: size 15px; 
}



.Dashboard{
background-color:#9C0F48; 
max-width: 5em;
max-height:5em ;
display:flex;
flex-direction: column;
} 


 .Reviews{ 
  
    /* background-color:#470D21; */
    display:flex;
    justify-content: space-around;
}


.AverageRating{
    /* background-color: #F9E4D4; */
    display:flex;
    justify-content: space-around;
}

.SentimentAnalysis{
    /* background-color: #9C0F48; */
    display:flex;
    justify-content: space-around;
}

.WebsiteVisitors{
    /* background-color: #470D21; */
    display:flex;
    align-items: flex-end;
}
.innerBox{
    /* background-color: #F9E4D4; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}  
